version: "3.8"

services:
  web:
    build: .
    command: gunicorn wakyefest_backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8081:8000"
    env_file:
      - .env
    environment:
      - DEBUG=0
      # Ensure DATABASE_URL is set in .env.prod or passed as an environment variable
